/*ESTILOS DE PABLO BALEZTENA COPIADOS Y MODIFICADOS PARA IMPLEMENTAR METODOLOGIA DE TRABAJO*/


/*fuente de letra en todo el body*/
body {
    font-family: "Roboto";
}
header{
    position: fixed;
    z-index: 10;
    top:0;
}
/*colores de fondos*/

.bg-yellow {
    background-color: #eac926;
}

.bg-dark-grey {
    background-color: #666;
}

.bg-grey {
    background-color: #ebebeb;
}

.bg-blue {
    background-color: #1259c3;
}

.bg-white {
    background-color: white;
}

/* colores de fuente*/

.color-green {
    color: #39b54a;
}
.color-white {
    color: white;
}

.color-blue {
    color: blue;
}

/*tamaños de fuente*/
.font-em{
    font-size: 2em;;
}
.font-m {
    font-size: 12px;
}

.font-lg {
    font-size: 16px;
}

.font-xl {
    font-size: 18px;
}

.title {
    font-size: 24px;
}

/*estilo de barra de navegacion*/
.nav-link {
    text-decoration: none;
    color: inherit;
}
.hide {
    display: none;
}

/*configuracion del ancho( width)*/
.w-50 {
    width: 50%;
}

.vw-90 {
    width: 90vw;
}

.w-100 {
    width: 100%;
}

/*estilos de borde*/
.b-1 {
    border-style: solid;
}

.bt-1 {
    border-style: solid;
    border-width: 1px;
}

.b-none {
    border: none;
}

.border-grey {
    border-color: #ebebeb;
}

/*estilos de fuente*/
.bold {
    font-weight: bold;
}



/*configuracion del texto o contenido de contenedores*/
.text-center {
    text-align: center;
}
.justify-x{
    justify-content: center;
}


.justify-y{
align-items: center;
}

/*estilo del contenedor*/
.round {
    border-radius: 50%;
}

.radius-1 {
    border-radius: 5px;
}
.relative {
    position: relative;
}

                /*LA PROPIEDAD CSS OUTLINE ES UNA FORMA REDUCIDA PARA ESTABLECER UNA O MÁS DE LAS PROPIEDADES INDIVIDUALES DE CONTORNO OUTLINE-STYLE,
                                    OUTLINE-WIDTH Y OUTLINE-COLOR EN UNA SOLA DECLARACIÓN.*/

.outline-none {
    outline: none;
}


                /*PRODUCT SHADOW*/

  .product-shadow {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

/*paddins o rellenos de contenedores*/
.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 20px;
}

.py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

/*margenes*/
.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*margen superior del footer para mandar abajo el mismo y separarlo del main*/
.my-2{
    margin-top: 450px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mr-1 {
    margin-right: 8px;
}

/*disposicion del contenedor flex y sus elementos hijos(flex items)*/
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap:wrap;
}
.flex-column{
    flex-direction: column;
}
.flex-grow {
    flex-grow: 1;
}

.gap {
    gap: 10px;
}

.align-center {
    align-self: center;
}
               



/*estilos del camioncito de envio*/
.truck-icon {
    color: green;
    border: green solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: -15px;
}

/*trancision de botones HOVERS*/
/*boton enviar de formulario*/

.boton-enviar:hover{
    background-color: #0022AA;
    border-style:  none;
    color:white;
    font-weight: bold;
    transition-duration: 800ms;
}
/*iconos del footer*/
.fa-credit-card:hover{

color: #eac926;

}
.fa-gift:hover{

    color: #eac926;
}
.fa-user-shield:hover{

    color: #eac926;
}


/*MEDIA QUERIES*/

@media (min-width: 481px) {

    /* tablet */
    .md-w-50 {
        width: 48%;
    }
}

@media (min-width: 769px) {

    /* laptop */
    .lg-w-25 {
        width: 23%;
    }

    .product-shadow {
        box-shadow: none;
    }

    .description {
        display: none;
    }
.product:hover .description {
    display: block;
  
}
.product:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.transition:hover  {
    transform: rotate(-360deg);
    transition-duration: 1000ms;
}
/*hago aparecer la barra de navegacion y oculto el menu hamburguesa*/
.fa-bars {
    display: none;
}

.hide {
    display: flex;
    justify-content: space-between;
    width:100%;
   
}
.hide li{
    margin:5px
}
/*pongo el logo de mercado liebre, la barra de busqueda y compra en cuotas y sin tarjeta de credito junto al icono en una misma linea*/
.ms-w30{
    width:30%;
}


 


.footer-desk {
    display: flex;
    flex-direction: row;

}

}



@media (min-width: 1200px) {
    /* desktop */
header{
    max-width: 1200px;
    margin:auto;
}
}